---
import { Icon } from 'astro-iconify';

const employmentHistory = [
    {
      title: 'Freelance Web Developer',
      time: '2018 - 2021',
      description:
        'Delivered high-quality services, managed end-to-end web development projects for clients from all over the world.',
    },
    {
      title: 'Full Stack Developer',
      company: {
        name: 'SPWorlds',
        description: 'One of the biggest Minecraft Server Networks in Russia',
      },
      time: '2021 - 2022',
      description:
        'Led a small team developing and maintaining an interactive web application and an open API. Moved the project through breaking changes. Worked with TypeScript, Node.js, SvelteKit, Tailwind.',
    },
    {
      title: 'Full Stack Developer',
      company: {
        name: 'Vmeste',
        description:
          'A startup with a mission to connect Russians living abroad',
      },
      time: '2022 - 2023',
      description:
        'Мigrated an old JS + React site to a modern stack (TypeScript, Next.js, tRPC, Tailwind CSS). Rapidly delivered new features to both backend and frontend. Worked on the CI/CD pipeline.',
    },
    {
      title: 'Frontend Developer (Part-time)',
      company: {
        name: 'Suvvy AI',
        description: 'A startup that integrates ChatGPT into different  CRMs',
      },
      time: '2023',
      description:
        'Was a sole frontend developer on a small startup.  Worked with SolidJS, TailwindCSS, TanStack Query, i18next',
    },
  ],
  skills = {
    'Programming Languages': [
      { name: 'TypeScript', icon: 'logos:typescript-icon' },
      { name: 'JavaScript', icon: 'logos:javascript' },
      { name: 'Rust', icon: 'logos:rust' },
      { name: 'Go', icon: 'logos:go' },
    ],
    'Frontend Development': [
      { name: 'React', icon: 'logos:react' },
      { name: 'Vue', icon: 'logos:vue' },
      { name: 'Svelte', icon: 'logos:svelte-icon' },
      { name: 'Solid', icon: 'logos:solidjs-icon' },
      { name: 'HTMX' },
      { name: 'Alpine.js', icon: 'devicon:alpinejs' },
      { name: 'Tailwind CSS', icon: 'logos:tailwindcss-icon' },
      { name: 'Next.js', icon: 'logos:nextjs-icon' },
      { name: 'Remix', icon: 'logos:remix-icon' },
      { name: 'SvelteKit', icon: 'logos:svelte-icon' },
      { name: 'Astro', icon: 'simple-icons:astro' },
      { name: 'React Native', icon: 'logos:react' },
      { name: 'Expo', icon: 'logos:expo-icon' },
      { name: 'Electron', icon: 'logos:electron' },
      { name: 'Tauri', icon: 'logos:tauri' },
    ],
    'JS/TS ecosystem': [
      { name: 'Fastify', icon: 'logos:fastify-icon' },
      { name: 'Hono', icon: 'logos:hono' },
      { name: 'Elysia' },
      { name: 'Prisma', icon: 'logos:prisma' },
      { name: 'Drizzle' },
      { name: 'tRPC', icon: 'simple-icons:trpc' },
      { name: 'Cloudflare Workers', icon: 'devicon:cloudflareworkers' },
    ],
    'Other Technologies': [
      { name: 'Docker', icon: 'logos:docker-icon' },
      { name: 'Git', icon: 'logos:git-icon' },
      { name: 'GraphQL', icon: 'logos:graphql' },
      { name: 'SQL', icon: 'mdi:database' },
      { name: 'WebSockets' },
      { name: 'REDIS', icon: 'logos:redis' },
      { name: 'Linux', icon: 'logos:linux-tux' },
    ],
  },
  openSourceProjects = [
    {
      name: 'Ronix',
      github: 'https://github.com/ronanru/ronix',
      description: 'Linux music player and library manager',
    },
    {
      name: 'My FAQ Page',
      link: 'https://myfaq.page/',
      github: 'https://github.com/ronanru/myfaq.page',
      description: 'An FAQ Page generator web app',
    },
    {
      name: 'ArchExplorer',
      link: 'https://archexplorer.ronanru.dev/',
      github: 'https://github.com/ronanru/ArchExplorer',
      description: 'A search engline for Arch Linux packages',
    },
  ];
---

<main
  class="relative m-4 h-[297mm] w-[210mm] overflow-hidden rounded-md bg-white px-8 py-4 shadow-lg print:m-0 print:h-screen print:w-screen print:rounded-none print:shadow-none"
>
  <section
    class="mb-4 flex items-stretch justify-between border-b border-black p-4"
  >
    <div class="flex flex-col gap-2">
      <div class="flex flex-1 flex-col justify-center gap-2">
        <h1 class="text-4xl font-bold">Matvey Ryabchikov</h1>
        <h2 class="text-xl">Full Stack Developer</h2>
      </div>
      <div class="flex gap-4">
        <a
          href="https://ronanru.com"
          class="flex items-center gap-1"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon pack="mdi" name="link" class="h-5 w-5" /> ronanru.com
        </a>
        <a
          href="https://github.com/ronanru"
          class="flex items-center gap-1"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon pack="mdi" name="github" class="h-5 w-5" /> github.com/ronanru
        </a>
        <a href="mailto:orlition@gmail.com" class="flex items-center gap-1">
          <Icon pack="mdi" name="email" class="h-5 w-5" /> orlition@gmail.com
        </a>
      </div>
    </div>
  </section>
  <section class="space-y-2 p-4">
    <h2 class="text-2xl font-bold">Technical Skills</h2>
    {
      Object.entries(skills).map(([category, list]) => (
        <p class="flex flex-wrap gap-2 indent-6">
          <span class="font-bold">{category}:</span>
          {list.map(({ name, icon }, i) => (
            <span class="flex items-center gap-1 indent-0">
              {icon && <Icon name={icon} class="h-4 w-4" />}
              {`${name}${i === list.length - 1 ? '.' : ','}`}
            </span>
          ))}
        </p>
      ))
    }
  </section>
  <section class="space-y-2 p-4">
    <h2 class="text-2xl font-bold">Work Experience</h2>
    {
      employmentHistory.map(job => (
        <div>
          <p class="my-px mt-4 flex justify-between font-bold">
            <span class="w-fit rounded-md bg-gray-300 px-2">{job.title}</span>
            <span>{job.time}</span>
          </p>
          {job.company && (
            <p class="flex gap-1">
              <b>Company:</b> {job.company.name}
              <span class="text-neutral-700">// {job.company.description}</span>
            </p>
          )}
          <p class="italic">{job.description}</p>
        </div>
      ))
    }
  </section>
  <section class="space-y-2 p-4">
    <h2 class="text-2xl font-bold">Open-Source Projects</h2>
    {
      openSourceProjects.map(({ description, link, name, github }) => (
        <p class="flex gap-1">
          <span class="font-bold">{name}</span>
          <span class="flex">
            (
            {link && (
              <span class="mr-1">
                <a
                  class="underline"
                  href={link}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Site
                </a>
                ,
              </span>
            )}
            <a
              class="underline"
              href={github}
              target="_blank"
              rel="noopener noreferrer"
            >
              GitHub
            </a>
            ) -
          </span>
          <span class="italic">{description}</span>.
        </p>
      ))
    }
    <br />
    <p>
      I'm a frequent open-source contributer, I contributed to
      <a
        class="underline"
        href="https://github.com/t3-oss/create-t3-app"
        target="_blank"
        rel="noopener noreferrer">create-t3-app</a
      >,
      <a
        class="underline"
        href="https://github.com/pop-os/shell"
        target="_blank"
        rel="noopener noreferrer">pop-shell</a
      >,
      <a
        class="underline"
        href="https://github.com/codicocodes/dotfyle"
        target="_blank"
        rel="noopener noreferrer">dotfyle</a
      >, and multiple other open-source projects.
    </p>
  </section>
  <div
    class="pointer-events-none absolute -right-28 bottom-56 font-mono text-[25rem] font-bold opacity-5"
    aria-hidden
  >
    {'</>'}
  </div>
</main>
