---
import { Icon } from 'astro-icon';

const skills = {
    'Programming Languages': [
      { name: 'TypeScript', icon: 'logos:typescript-icon' },
      { name: 'JavaScript', icon: 'logos:javascript' }
    ],
    'Frontend Development': [
      { name: 'React', icon: 'logos:react' },
      { name: 'Vue', icon: 'logos:vue' },
      { name: 'Svelte', icon: 'logos:svelte-icon' },
      { name: 'Solid', icon: 'logos:solidjs-icon' },
      { name: 'Tailwind CSS', icon: 'logos:tailwindcss-icon' },
      { name: 'Next.js', icon: 'logos:nextjs-icon' },
      { name: 'SvelteKit', icon: 'logos:svelte-icon' },
      { name: 'Astro', icon: 'simple-icons:astro' },
      { name: 'SASS', icon: 'logos:sass' },
      { name: 'Electron', icon: 'logos:electron' }
    ],
    'Node.js ecosystem': [
      { name: 'Fastify', icon: 'logos:fastify-icon' },
      { name: 'Prisma', icon: 'logos:prisma' },
      { name: 'Express', icon: 'simple-icons:express' },
      { name: 'tRPC' },
      { name: 'socket.io', icon: 'cib:socket-io' }
    ],
    'Other Technologies': [
      { name: 'Docker', icon: 'logos:docker-icon' },
      { name: 'Git', icon: 'logos:git-icon' },
      { name: 'GraphQL', icon: 'logos:graphql' },
      { name: 'Linux', icon: 'logos:linux-tux' }
    ]
  },
  openSourceProjects = [
    {
      name: 'My FAQ Page',
      link: 'https://myfaq.page/',
      github: 'https://github.com/ronanru/myfaq.page',
      description: 'An FAQ Page generator web app'
    },
    {
      name: 'ArchExplorer',
      link: 'https://archexplorer.ronanru.dev/',
      github: 'https://github.com/ronanru/ArchExplorer',
      description: 'A search engline for Arch Linux packages'
    }
  ];
---

<main
  class="relative overflow-hidden w-[210mm] h-[297mm] print:w-screen print:h-screen bg-white px-8 py-4 m-4 print:shadow-none print:rounded-none print:m-0 print rounded-md shadow-lg">
  <section class="flex justify-between items-stretch border-b border-black p-4 mb-4">
    <div class="flex flex-col">
      <div class="flex flex-1 flex-col justify-center gap-2">
        <h1 class="font-bold text-4xl">Matvey Ryabchikov</h1>
        <h2 class="text-xl">Full Stack Developer</h2>
      </div>
      <div class="flex gap-4">
        <a
          href="https://ronanru.com"
          class="flex gap-1 items-center"
          target="_blank"
          rel="noopener noreferrer">
          <Icon pack="mdi" name="link" class="w-5 h-5" /> ronanru.com
        </a>
        <a
          href="https://github.com/ronanru"
          class="flex gap-1 items-center"
          target="_blank"
          rel="noopener noreferrer">
          <Icon pack="mdi" name="github" class="w-5 h-5" /> github.com/ronanru
        </a>
        <a href="mailto:orlition@gmail.com" class="flex gap-1 items-center">
          <Icon pack="mdi" name="email" class="w-5 h-5" /> orlition@gmail.com
        </a>
      </div>
    </div>
  </section>
  <section class="p-4 space-y-2">
    <h2 class="font-bold text-2xl">About Me</h2>
    <p class="indent-6">
      I'm a young and driven full-stack web developer with four years of experience building
      websites, web and desktop apps. My passion for technology and eagerness to continuously learn
      and try new approaches allows me to stay at the forefront of web development and bring fresh
      ideas to the table. I am dedicated to delivering exceptional results and am always easy to
      communicate with.
    </p>
  </section>
  <section class="p-4 space-y-2">
    <h2 class="font-bold text-2xl">Technical Skills</h2>
    {
      Object.entries(skills).map(([category, list]) => (
        <p class="flex gap-2 flex-wrap indent-6">
          <span class="font-bold">{category}:</span>
          {list.map(({ name, icon }, i) => (
            <span class="flex items-center gap-1 indent-0">
              {icon && <Icon name={icon} class="w-5 h-5" />}
              {`${name}${i === list.length - 1 ? '.' : ','}`}
            </span>
          ))}
        </p>
      ))
    }
  </section>
  <section class="p-4 space-y-2">
    <h2 class="font-bold text-2xl">Employment History</h2>
    <div>
      <p class="flex justify-between font-bold my-px">
        <span class="bg-gray-300 w-fit px-2 rounded-md">Freelance Web Developer</span>
        <span>2019 - 2021</span>
      </p>
      <p class="italic">
        Delivered high-quality services, managed end-to-end web development projects for clients
        from all over the world.
      </p>
    </div>
    <div>
      <p class="flex justify-between font-bold my-px">
        <span class="bg-gray-300 w-fit px-2 rounded-md">Full Stack Developer</span>
        <span>2021 - 2022</span>
      </p>
      <p>
        <b>Company:</b> SPWorlds
        <span class="text-neutral-700"
          >// One of the biggest Minecraft Server Network in Russia</span
        >
      </p>
      <p class="italic">
        Led a small team developing and maintaining an interactive web application and an open API.
        Moved the project through breaking changes. Worked with TypeScript, Node.js, SvelteKit,
        Tailwind.
      </p>
    </div>
    <div>
      <p class="flex justify-between font-bold my-px">
        <span class="bg-gray-300 w-fit px-2 rounded-md">Full Stack Developer</span>
        <span>2022 - Current</span>
      </p>
      <p>
        <b>Company:</b> Vmeste
        <span class="text-neutral-700"
          >// A startup with a mission to connect Russians living abroad</span
        >
      </p>
      <p class="italic">
        Мigrated an old JS + React site to a modern stack (TypeScript, Next.js, tRPC, Tailwind CSS).
        Rapidly delivered new features to both backend and frontend. Improved the CI/CD pipeline.
      </p>
    </div>
  </section>
  <section class="p-4 space-y-2">
    <h2 class="font-bold text-2xl">Open-Source Projects</h2>
    {
      openSourceProjects.map(({ description, link, name, github }) => (
        <div>
          <p class="flex gap-1">
            <span class="font-bold">{name}</span>
            <span class="flex">
              (
              <a class="underline block" href={link} target="_blank" rel="noopener noreferrer">
                Site
              </a>
              ,
              <a
                class="underline block ml-1"
                href={github}
                target="_blank"
                rel="noopener noreferrer">
                GitHub
              </a>
              )
            </span>{' '}
            - <span class="italic">{description}</span>.
          </p>
        </div>
      ))
    }
    <div>
      <p class="flex gap-1">
        Contributed to
        <span class="font-bold">create-t3-app</span>
        <span class="flex">
          (<a
            class="underline block"
            href="https://github.com/t3-oss/create-t3-app"
            target="_blank"
            rel="noopener noreferrer">
            GitHub
          </a>
          )
        </span> and other open-source projects.
      </p>
    </div>
  </section>
  <div
    class="font-mono pointer-events-none font-bold text-[25rem] absolute -right-28 bottom-0 opacity-5"
    aria-hidden>
    {'</>'}
  </div>
</main>
